doctype 5
html
	head
		title= title
		link(rel='shortcut icon', href='/images/gravatar.ico')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Advent+Pro:500', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#container
			h1 Jean Claudette Ambait
			ul#networks
				li
					a(href='mailto:jeanclaudetteambait@gmail.com').icons.icon-email
				li
					a(href='https://www.facebook.com/jean.ambait', target='_blank').icons.icon-facebook
				li
					a(href='https://twitter.com/ginclawdeath', target='_blank').icons.icon-twitter
				li
					a(href='https://plus.google.com/u/0/100840804237992932606/posts', target='_blank').icons.icon-googleplus
				li
					a(href='skype:wysiwygtioli?call').icons.icon-skype
				li
					a(href='http://ph.linkedin.com/in/jeanambait', target='_blank').icons.icon-linkedin
		footer &copy; 2013 | 
			a(href='humans.txt', target='_blank') Credits
		if 'production' == process.env.NODE_ENV
			script.
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-38093878-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();